body{
    font-family: Arial;
}

.container{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

h1{
    text-align:center;
}
h2{
    text-align:center;
}

#p1{
    color: rgb(5, 72, 5)
}